/* Grundstil für die gesamte Seite */
*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

h1 {
    color: rgb(29, 145, 184);
    font-size: 40px;
}


img {
    max-width: 100%;
}

#introduction {
    font-size: 2;
}

.color {
    color: rgb(134, 43, 226);
}

/* Container für den News-Bereich */
.news-container {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
}

.wrapper {
    display: flex;
    /* Flexbox für horizontale Anordnung */
}

/* Styles für die Links in der Nav-Bar */
.nav-links li {
    flex: 1;
    /* Jeder Link nimmt gleich viel Platz ein */
}

.nav-links a {
    display: block;
    /* Macht den gesamten Bereich des Links klickbar */
    color: #fff;
    /* Textfarbe der Links */
    text-align: center;
    /* Zentriert den Text */
    padding: 14px 20px;
    /* Innenabstand für Links */
    text-decoration: none;
    /* Entfernt Unterstreichung */
    transition: background-color 0.3s;
    /* Sanfter Übergang für Hintergrundfarbe */
}

/* Hover-Effekt für die Links */
.nav-links a:hover {
    background-color: #555;
    /* Hintergrundfarbe beim Hover */
    border-radius: 10px;
}

.footer {
    background-color: #282828;
    /* Hintergrundfarbe des Footers */
    color: white;
    /* Textfarbe */
    text-align: center;
    /* Zentriert den Text im Footer */
    padding: 20px;
    /* Innenabstand */
    position: fixed;
    /* Positionierung */
    bottom: 0;
    /* Positionierung am unteren Rand */
    width: 100%;
    /* Breite des Footers */
}

/* Styles für den Footer-Inhalt */
.footer-content {
    max-width: 1200px;
    /* Maximale Breite des Inhalts */
    margin: 0 auto;
    /* Zentriert den Inhalt */
}

.footerstatic{
    /* Extra footer der am bottom der Website bleibt für hilfe.html */
    background-color: #282828;
    /* Hintergrundfarbe des Footers */
    color: white;
    /* Textfarbe */
    text-align: center;
    /* Zentriert den Text im Footer */
    padding: 20px;
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}